<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>sistema.filmes</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- Mapeamento gerado automaticamente pela IDE. Não vamos utilizar o web.xml como ferramenta p/ mapear o Servlet -->
  <!-- 
  <servlet>
  	<description></description>
  	<display-name>ServletTeste</display-name>
  	<servlet-name>ServletTeste</servlet-name>
  	<servlet-class>web.ServletTeste</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServletTeste</servlet-name>
  	<url-pattern>/ServletTeste</url-pattern>
  </servlet-mapping> 
  -->
</web-app>